# Dataset tests  
These commands test the behaviour of curently implemented Dataset class, run them after making changes to this clas to make sure it works as intended in all of the scripts.

In [1]:
from plasticc.dataset import Dataset

/home/kk385830/miniconda3/envs/plasticc/lib/python3.6/site-packages/tqdm/autonotebook/__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

In [2]:
ds = Dataset('../data/sets/base/')

In [3]:
ds.train_raw.head()

   object_id         mjd  passband        flux   flux_err  detected
0        615  59750.4229         2 -544.810303   3.622952         1
1        615  59750.4306         1 -816.434326   5.553370         1
2        615  59750.4383         3 -471.385529   3.801213         1
3        615  59750.4450         4 -388.984985  11.395031         1
4        615  59752.4070         2 -681.858887   4.041204         1

In [4]:
ds.train_indexed.head()

           object_id         mjd  passband        flux   flux_err  detected
object_id
615              615  59750.4229         2 -544.810303   3.622952         1
615              615  59750.4306         1 -816.434326   5.553370         1
615              615  59750.4383         3 -471.385529   3.801213         1
615              615  59750.4450         4 -388.984985  11.395031         1
615              615  59752.4070         2 -681.858887   4.041204         1

In [5]:
ds.train_meta.head()

,object_id,ra,decl,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,target
object_id,,,,,,,,,,,,
615,615,349.046051,-61.943836,320.796530,-51.753706,1,0.0000,0.0000,0.0000,NaN,0.017,92
713,713,53.085938,-27.784405,223.525509,-54.460748,1,1.8181,1.6267,0.2552,45.4063,0.007,88
730,730,33.574219,-6.579593,170.455585,-61.548219,1,0.2320,0.2262,0.0157,40.2561,0.021,42
745,745,0.189873,-45.586655,328.254458,-68.969298,1,0.3037,0.2813,1.1523,40.7951,0.007,90
1124,1124,352.711273,-63.823658,316.922299,-51.059403,1,0.1934,0.2415,0.0176,40.4166,0.024,90

In [6]:
simple = Dataset('../data/sets/simple/')
simple_parallel = Dataset('../data/sets/simple-parallel-test/')

In [7]:
simple.has_meta()

False

In [8]:
simple_parallel.has_meta()

False

In [9]:
for df in simple.iter_test:
    print(df.head())
    break

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

   passband_0_min_mjd  passband_0_min_flux  passband_0_min_flux_err  \
0        60247.701419             0.402818                 2.041608
1        60247.701419             0.315396                 2.037511
2        60278.940730             0.095728                 2.172968
3        60247.701419             0.010791                 2.075734
4        60278.940730             1.032765                 2.241583

   passband_0_min_detected  passband_0_max_mjd  passband_0_max_flux  \
0                 0.000000          60648.0642             5.816270
1                 0.000000          60648.0642             6.371965
2                 0.000000          60617.0295             6.056491
3                 0.000000          60648.0642             3.919783
4                 0.031746          60617.0295            19.174976

   passband_0_max_flux_err  passband_0_max_detected  passband_0_mean_mjd  \
0                 3.087183                        0         60247.701419
1                 3.073875                        0         60247.701419
2                 3.532677                        0         60278.940730
3                 3.127708                        0         60247.701419
4                 3.640227                        1         60278.940730

   passband_0_mean_flux  ...            ra       decl       gal_l      gal_b  \
0              0.402818  ...     34.453125  -5.229529  169.987075 -59.956185
1              0.315396  ...     33.398438  -4.331149  167.226341 -59.936551
2              0.095728  ...    348.529419 -61.755440  321.293980 -51.763351
3              0.010791  ...     34.804688  -5.829153  171.307861 -60.174401
4              1.032765  ...    351.321442 -64.198746  317.458993 -50.429931

   ddf  hostgal_specz  hostgal_photoz  hostgal_photoz_err  distmod  mwebv
0    1         0.3048          0.3193              0.0542  41.1123  0.019
1    1            NaN          0.6323              0.0179  42.8774  0.018
2    1            NaN          0.8297              0.0605  43.6000  0.016
3    1            NaN          0.6533              0.1479  42.9640  0.023
4    1         0.4557          0.4617              0.0122  42.0540  0.023

[5 rows x 83 columns]

In [10]:
for df in simple_parallel.iter_test:
    print(df.head())
    break

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

   passband_1_mjd_min  passband_1_mjd_max  passband_1_mjd_mean  \
0          59798.3281          60652.1365         60214.495175
1          59798.3281          60652.1365         60214.495175
2          59750.4306          60624.1836         60175.754255
3          59798.3281          60652.1365         60214.495175
4          59750.4306          60624.1836         60175.754255

   passband_1_mjd_count  passband_1_flux_min  passband_1_flux_max  \
0                    52            -4.148108            23.404964
1                    52            -4.574095            13.748290
2                    58            -3.813735            11.756248
3                    52            -5.029840             5.278965
4                    58            -4.691212            69.579277

   passband_1_flux_mean  passband_1_flux_median  passband_1_flux_std  \
0              1.769994                0.589611             4.934056
1              0.263177               -0.129243             2.767467
2              0.920106                0.205710             2.917572
3             -0.045599                0.095580             1.868506
4              3.493826                0.164552            13.833514

   passband_1_flux_skew  ...            ra       decl       gal_l      gal_b  \
0              3.117684  ...     34.453125  -5.229529  169.987075 -59.956185
1              3.109318  ...     33.398438  -4.331149  167.226341 -59.936551
2              1.710048  ...    348.529419 -61.755440  321.293980 -51.763351
3             -0.000571  ...     34.804688  -5.829153  171.307861 -60.174401
4              4.133929  ...    351.321442 -64.198746  317.458993 -50.429931

   ddf  hostgal_specz  hostgal_photoz  hostgal_photoz_err  distmod  mwebv
0    1         0.3048          0.3193              0.0542  41.1123  0.019
1    1            NaN          0.6323              0.0179  42.8774  0.018
2    1            NaN          0.8297              0.0605  43.6000  0.016
3    1            NaN          0.6533              0.1479  42.9640  0.023
4    1         0.4557          0.4617              0.0122  42.0540  0.023

[5 rows x 176 columns]

In [11]:
for df in simple.iter_indexed_test:
    print(df.index[:5])

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

Int64Index([13, 14, 17, 23, 34], dtype='int64', name='object_id')

In [12]:
df = None
for d in simple.iter_indexed_test:
    df = d
sorted(df.index)[:10]

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

[13, 14, 17, 23, 34, 35, 43, 50, 60, 69]

In [13]:
simple.y_colname = 'target'
X, y = simple.train

In [14]:
X.head()

,passband_0_min_mjd,passband_0_min_flux,passband_0_min_flux_err,passband_0_min_detected,passband_0_max_mjd,passband_0_max_flux,passband_0_max_flux_err,passband_0_max_detected,passband_0_mean_mjd,passband_0_mean_flux,...,ra,decl,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv
object_id,,,,,,,,,,,,,,,,,,,,,
615,60278.940730,-3.254554,3.823448,0.857143,60617.0295,125.182808,4.737393,1,60278.940730,-3.254554,...,349.046051,-61.943836,320.796530,-51.753706,1,0.0000,0.0000,0.0000,NaN,0.017
713,60315.877070,-2.720398,2.331400,0.142857,60674.0798,14.509829,3.348282,1,60315.877070,-2.720398,...,53.085938,-27.784405,223.525509,-54.460748,1,1.8181,1.6267,0.2552,45.4063,0.007
730,60247.701419,-0.048080,2.057984,0.000000,60648.0642,5.942166,3.110694,0,60247.701419,-0.048080,...,33.574219,-6.579593,170.455585,-61.548219,1,0.2320,0.2262,0.0157,40.2561,0.021
745,60247.740832,1.797523,1.954723,0.027778,60620.1257,18.014029,3.093587,1,60247.740832,1.797523,...,0.189873,-45.586655,328.254458,-68.969298,1,0.3037,0.2813,1.1523,40.7951,0.007
1124,60278.940730,0.660948,2.251139,0.000000,60617.0295,5.330927,3.658313,0,60278.940730,0.660948,...,352.711273,-63.823658,316.922299,-51.059403,1,0.1934,0.2415,0.0176,40.4166,0.024

In [15]:
y.head()

object_id
615     92
713     88
730     42
745     90
1124    90
Name: target, dtype: category
Categories (14, int64): [6, 15, 16, 42, ..., 88, 90, 92, 95]

In [16]:
df_par = None
for d in simple_parallel.iter_indexed_test:
    df_par = d
sorted(df_par.index)[:10]

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

[13, 14, 17, 23, 34, 35, 43, 50, 60, 69]

In [17]:
df_par.tail()

,passband_1_mjd_min,passband_1_mjd_max,passband_1_mjd_mean,passband_1_mjd_count,passband_1_flux_min,passband_1_flux_max,passband_1_flux_mean,passband_1_flux_median,passband_1_flux_std,passband_1_flux_skew,...,ra,decl,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv
object_id,,,,,,,,,,,,,,,,,,,,,
32267,59750.4306,60624.1836,60175.754255,58,-3.839769,4.601959,0.246621,0.122339,1.896895,0.275972,...,351.953644,-62.132156,318.777388,-52.347124,1,0.4967,0.5030,0.0106,42.2768,0.019
32269,59825.2676,60668.0723,60241.982255,56,-4.162003,2.842719,-0.200515,-0.001675,1.325965,-0.686733,...,53.789062,-27.784405,223.685697,-53.845803,1,0.3181,0.4847,0.4165,42.1803,0.009
32284,59825.2676,60668.0723,60241.982255,56,-4.521838,3.702271,0.085841,0.165145,1.392899,-0.487618,...,52.207031,-28.630989,224.800211,-55.343637,1,NaN,1.1842,0.0852,44.5544,0.009
32293,59770.3740,60624.0425,60188.647621,56,-3.595153,82.557831,4.560368,0.386413,15.125955,4.049888,...,2.457983,-45.389202,324.632685,-69.945696,1,NaN,0.6675,0.1017,43.0207,0.011
32300,59798.3281,60580.1813,60105.693515,41,-4.285614,11.245750,0.639749,-0.182551,3.479541,1.572818,...,33.398438,-3.732834,166.492280,-59.466614,1,NaN,0.8023,0.0590,43.5102,0.022

In [18]:
[col for col in df_par.columns if df_par[col].isna().any()]

['hostgal_specz', 'distmod']

In [19]:
df_par.shape[0]

3036

In [20]:
assert(df_par.shape[0] == df.shape[0])

# MultiDataset testing
Developing dataset that merges features from 2 or more other sets (without unnecessary data copying).

In [21]:
from plasticc.dataset import MultiDataset
import pandas as pd

In [22]:
mds = MultiDataset(['../data/sets/simple-kaggle-sample/', '../data/sets/tsfresh-kaggle-sample/'], y_colname='target')

In [23]:
X, y = mds.train

In [24]:
X.shape

(7848, 193)

In [25]:
y.shape

(7848,)

In [26]:
X.head()

,passband_1_mjd_min,passband_1_mjd_max,passband_1_mjd_mean,passband_1_mjd_count,passband_1_flux_min,passband_1_flux_max,passband_1_flux_mean,passband_1_flux_median,passband_1_flux_std,passband_1_flux_skew,...,"3__fft_coefficient__coeff_0__attr_""abs""","3__fft_coefficient__coeff_1__attr_""abs""",3__kurtosis,"4__fft_coefficient__coeff_0__attr_""abs""","4__fft_coefficient__coeff_1__attr_""abs""",4__kurtosis,"5__fft_coefficient__coeff_0__attr_""abs""","5__fft_coefficient__coeff_1__attr_""abs""",5__kurtosis,object_id_meta
object_id,,,,,,,,,,,,,,,,,,,,,
615,59750.4306,60624.1836,60175.754255,58,-1100.440063,660.626343,-385.699911,-488.057968,601.787302,0.415580,...,7024.003068,2536.068846,-1.449858,3245.366349,2741.539785,-1.548319,2704.641265,2893.344217,-1.592820,615
713,59825.2676,60668.0723,60241.982255,56,-11.715749,9.129021,-1.019804,-0.561735,5.712334,-0.087865,...,55.270113,212.522263,-1.142896,50.414646,203.892482,-1.190245,100.473776,143.963093,-0.797047,713
730,59798.3281,60652.1365,60214.495175,52,-3.393080,5.693109,0.141057,0.171336,1.807229,0.471342,...,168.280524,162.799417,7.125665,219.745132,202.532898,6.081065,231.509177,199.286370,3.583130,730
745,59770.3740,60624.0425,60188.647621,56,-3.618410,192.244293,5.717394,0.888115,25.964659,7.007099,...,807.123762,710.721942,16.392533,735.528417,680.055280,13.747434,591.037583,523.503586,12.134629,745
1124,59750.4306,60624.1836,60175.754255,58,-2.622109,37.170177,4.634637,1.154596,8.107525,2.377222,...,643.020183,555.512641,14.095862,574.553907,524.107264,16.377058,393.114268,357.907185,14.434470,1124

In [27]:
for Xt in mds.iter_test:
    break

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

In [28]:
Xt.head()

,passband_1_mjd_min,passband_1_mjd_max,passband_1_mjd_mean,passband_1_mjd_count,passband_1_flux_min,passband_1_flux_max,passband_1_flux_mean,passband_1_flux_median,passband_1_flux_std,passband_1_flux_skew,...,"3__fft_coefficient__coeff_0__attr_""abs""","3__fft_coefficient__coeff_1__attr_""abs""",3__kurtosis,"4__fft_coefficient__coeff_0__attr_""abs""","4__fft_coefficient__coeff_1__attr_""abs""",4__kurtosis,"5__fft_coefficient__coeff_0__attr_""abs""","5__fft_coefficient__coeff_1__attr_""abs""",5__kurtosis,object_id_meta
0,59798.3281,60652.1365,60214.495175,52,-4.148108,23.404964,1.769994,0.589611,4.934056,3.117684,...,300.547278,246.788411,2.951479,408.305525,349.008202,0.094963,324.515880,251.116361,0.072799,13
1,59798.3281,60652.1365,60214.495175,52,-4.574095,13.748290,0.263177,-0.129243,2.767467,3.109318,...,56.042403,59.784625,1.750840,83.561278,77.494564,-0.322108,84.725142,27.013154,-0.348744,14
2,59750.4306,60624.1836,60175.754255,58,-3.813735,11.756248,0.920106,0.205710,2.917572,1.710048,...,26.975615,59.958041,3.484929,57.222812,72.448018,2.085327,76.240782,73.533783,0.063837,17
3,59798.3281,60652.1365,60214.495175,52,-5.029840,5.278965,-0.045599,0.095580,1.868506,-0.000571,...,58.911457,62.709899,4.269139,115.918277,70.371095,7.377841,112.547521,123.413344,1.793238,23
4,59750.4306,60624.1836,60175.754255,58,-4.691212,69.579277,3.493826,0.164552,13.833514,4.133929,...,368.228927,360.630612,15.386561,377.744797,301.983950,15.302549,172.564336,289.757599,12.507289,34

In [29]:
assert((Xt.columns == X.columns).all())

#### Test newly implemented cleaning strategy

In [30]:
[col for col in Xt.columns if Xt[col].isna().any()]

['hostgal_specz', 'distmod']

In [39]:
# %load ../plasticc/cleaning_strategies.py
""" 
Cleaning strategies to use with MultiDatasetClass.
See notebook "Dataset-Develpment" for example uses.
"""

import pandas as pd


def clean_kaggle_simple(df: pd.DataFrame) -> pd.DataFrame:
    df.drop(columns=[col for col in set(df.columns) if col.endswith('_meta')], inplace=True)
    df.drop(columns=['hostgal_specz'], inplace=True)  # for most samples in test set this is None
    df['distmod'] = df['distmod'].fillna(0)  # distance = 0 for objects in same galaxy
    return df

In [32]:
mdsf = MultiDataset(
    ['../data/sets/simple-kaggle-sample/', '../data/sets/tsfresh-kaggle-sample/'],
    y_colname='target',
    cleaning_strategy=clean_kaggle_simple
)

In [33]:
X, y = mdsf.train

In [34]:
assert('hostgal_specz' not in set(X.columns))

In [35]:
X.head()

,passband_1_mjd_min,passband_1_mjd_max,passband_1_mjd_mean,passband_1_mjd_count,passband_1_flux_min,passband_1_flux_max,passband_1_flux_mean,passband_1_flux_median,passband_1_flux_std,passband_1_flux_skew,...,2__kurtosis,"3__fft_coefficient__coeff_0__attr_""abs""","3__fft_coefficient__coeff_1__attr_""abs""",3__kurtosis,"4__fft_coefficient__coeff_0__attr_""abs""","4__fft_coefficient__coeff_1__attr_""abs""",4__kurtosis,"5__fft_coefficient__coeff_0__attr_""abs""","5__fft_coefficient__coeff_1__attr_""abs""",5__kurtosis
object_id,,,,,,,,,,,,,,,,,,,,,
615,59750.4306,60624.1836,60175.754255,58,-1100.440063,660.626343,-385.699911,-488.057968,601.787302,0.415580,...,-1.409885,7024.003068,2536.068846,-1.449858,3245.366349,2741.539785,-1.548319,2704.641265,2893.344217,-1.592820
713,59825.2676,60668.0723,60241.982255,56,-11.715749,9.129021,-1.019804,-0.561735,5.712334,-0.087865,...,-1.188472,55.270113,212.522263,-1.142896,50.414646,203.892482,-1.190245,100.473776,143.963093,-0.797047
730,59798.3281,60652.1365,60214.495175,52,-3.393080,5.693109,0.141057,0.171336,1.807229,0.471342,...,5.131290,168.280524,162.799417,7.125665,219.745132,202.532898,6.081065,231.509177,199.286370,3.583130
745,59770.3740,60624.0425,60188.647621,56,-3.618410,192.244293,5.717394,0.888115,25.964659,7.007099,...,36.088137,807.123762,710.721942,16.392533,735.528417,680.055280,13.747434,591.037583,523.503586,12.134629
1124,59750.4306,60624.1836,60175.754255,58,-2.622109,37.170177,4.634637,1.154596,8.107525,2.377222,...,10.343254,643.020183,555.512641,14.095862,574.553907,524.107264,16.377058,393.114268,357.907185,14.434470

In [36]:
y.head()

object_id
615     92
713     88
730     42
745     90
1124    90
Name: target, dtype: category
Categories (14, int64): [6, 15, 16, 42, ..., 88, 90, 92, 95]

In [37]:
for Xt in mdsf.iter_test:
    break

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

In [38]:
assert(set(Xt.columns) == set(X.columns))